*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Sansation-light;
    src: url('https://raw.githubusercontent.com/google/fonts/main/ofl/sansation/Sansation-Light.ttf');
}
@font-face {
    font-family: Sansation-regular;
    src: url('https://raw.githubusercontent.com/google/fonts/main/ofl/sansation/Sansation-Regular.ttf');
}

body{
    background-color: #E4E4E4;
    font-family: sansation-light;
    
}


header{
    width: 100dvw;
    display: flex;
    justify-content: space-evenly;
}

.navbar{
    margin: 20px;
    height: 30px;
    width: 30%;
    min-width: 200px;
    border-radius: 30px;
    background-color: #F45252;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-items: center;
    align-items: center;
}

.navbar ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.navbar li{
    list-style: none;
}
.navbar a{
    color: black;
    text-decoration: none;
}
.navbar li:nth-child(2) a{
    color: white;
}
.navbar li :hover{
    color: #E4E4E4;
}

.left-nav, .right-nav{
    /* flex-grow: 1; */
    width: calc((70%)/2)
    /* align-self: flex-end; */
}

.right-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact{
    height: 30px;
    width: 100px;
    background-color: #FC7D7D;
    justify-content: center;
    align-content: center;
    box-shadow: 5px -5px #F45252;
    display: grid;
    transition: background-color 0.5s, box-shadow 0.2s, color 0.1s;
}

.contact:hover{
    color: #E4E4E4;
    background-color: #F45252;
    box-shadow: 5px -5px #FC7D7D;
    scale: 110%;
}






.hero-container{
    width: max-content;
    display: flex;
    justify-items: center;
    align-items: center;
    width: 90dvw;
    margin: 0 auto;
    box-sizing: border-box;
}

.hero-container .hero, .top-pannels div, .project{
    background-color: #F5F5F5;
}

.hero{
    height: 80dvh;
    width: 45dvw;
    margin-right: 1%;
}


.location{
    width: 40%;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    margin-right: 2%;
}
.arrow{
    box-sizing: border-box;

}
.project{
    flex-grow: 1;
    box-sizing: border-box;
}

.pannels{
    height: 80dvh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.top-pannels{
    /* height: 40%; */
    display: flex;
    margin-bottom: 2%;
}
.top-pannels .arrow{
    flex-grow: 1;

}

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .left-nav{
        width: 0;
    }
    .hero-container{
        flex-direction: column;
    }
    .hero{
        width: 100%;
        height: 70dvh;
    }
    .top-pannels{
        height: calc(100dvh - (70dvh + 90px));
    }
    .pannels{
        margin-top: 2%;
        height: 50dvh;
        margin-bottom: 4%;
        width: 100%;
    }
}


.hero{
    display: flex;
    flex-direction: column;
    padding-left: 7%;
    box-sizing: border-box;
    /* justify-content: center; */
    padding-top: 5%;
    font-size: 48px;
    color: #595959;
}

.hero div{
    margin-bottom: 2%;
}

.hero .greet{
    font-size: 70px;
    color: #606060;
    font-weight: bold;
}
.hero .title{
    font-size: 64px;
    color: #E32828;
}
.hero .tag-line{

    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.hero .tag-line div{
    padding: 0 3%;

}
.hero .tag-line :nth-child(1){
    background-color: #E32828;
    color: #ffff;
}
.hero .tag-line :nth-child(2){
    border: 1px solid #E32828;
    color: #E32828;

    /* color: #E32828; */
}


